.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;

    border: none;              /*  aca estamos reseteando por defecto los valores que trae el boton */
    background: none;
}

.searchInput {
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
}